[submodule "rocketwiki_laravel_rest_docker"]
	path = rocketwiki_laravel_rest_docker
	url = https://github.com/SimonWilmotsIIW/rocketwiki_laravel_rest_docker.git
[submodule "nutritioncalculator_csharp_soap_docker"]
	path = nutritioncalculator_csharp_soap_docker
	url = https://github.com/SimonWilmotsIIW/nutritioncalculator_csharp_soap_docker.git
[submodule "pollapp_nodejs_websocket_docker"]
	path = pollapp_nodejs_websocket_docker
	url = https://github.com/SimonWilmotsIIW/pollapp_nodejs_websocket_docker.git
[submodule "philosophyapi_python_graphql_docker"]
	path = philosophyapi_python_graphql_docker
	url = https://github.com/SimonWilmotsIIW/philosophyapi_python_graphql_docker.git
[submodule "phonebook_java_grpc_vm"]
	path = phonebook_java_grpc_vm
	url = https://github.com/SimonWilmotsIIW/phonebook_java_grpc_vm.git
[submodule "planetapi_nextjs"]
	path = planetapi_nextjs
	url = https://github.com/SimonWilmotsIIW/planetapi_nextjs.git
[submodule "robotcommunicator_python_websocket"]
	path = robotcommunicator_python_websocket
	url = https://github.com/SimonWilmotsIIW/robotcommunicator_python_websocket.git
